/**
** 初期設定
**/

$yellow : #FADB5A;
$orange : #FD9158;
$red: #F75B2C;
$white : #fff;
$green: #5c8d22;
$mainCol: $yellow;
$subCol: $orange;
$accentCol: $red;

$setRowMargin: 20px;

@mixin innerPadding($top: 0,$bottom: $top) {
    padding: $top 1em $bottom;
  }


  @mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: 640px) {
            @content;
        }
    }
    @if $point == min {
        @media (max-width: 375px) {
            @content;
        }
    }
    @if $point == pc {
        @media (min-width: 769px) {
            @content;
        }
    }
}