@use "function" as fn;

body{
    font-family: 'Noto Sans CJK JP',sans-serif;
}
.inner{
    max-width: 460px;
    margin: auto;
}

.mainTitle{
    text-align: center;
    letter-spacing: 1.25px;
    .title{
        font-size: 22px;
        font-weight: bold;
    }
    .sub{
        font-size: 16px;
    }
}

.menuContents{
    @include fn.innerPadding(0);
    &-catchText{
        font-size: 14px;
        line-height: 1.8;
        margin: fn.$setRowMargin 0;
    }
    &-menuBlock{
        margin-top: fn.$setRowMargin;
    }
    &-banarBlock{
        margin: fn.$setRowMargin+10px 0;
        .banar{
            display: block;
            max-width: 343px;
            margin: auto;
            cursor: pointer;
            &+.banar{
                margin-top: 10px;
            }
            img{
                width: 100%;
            }
        }
    }
}

.menuList{
    display: grid;
    gap: 20px 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 110px;
    justify-content: center;
    &-item{
        width: 100%;
        background: fn.$subCol;
        border-radius: 25px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    &-text{
        color: fn.$white;
        margin-bottom: 10px;
    }
    figure{
        margin-top: 30px;
        &.img-tel{
            margin-top: 20px;
        }
    }
}

.header{
    background: fn.$mainCol;
    @include fn.innerPadding(.8em);
    &-inner{
        display: flex;
        justify-content: space-between;
    }
    &-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-title{
        margin-left: 16px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 2px;
    }
}



.footer{
    background: fn.$mainCol;
    &-inner{
        @include fn.innerPadding(.4em);
    }
    .copy{
        text-align: center;
        font-size: 12px;
        line-height: 1;
    }
}

/* アニメーション中のスタイル */
.v-leave-active,
.v-enter-active {
    transition: opacity .5s;
}

/* 表示アニメーション */
.v-enter {
    opacity: 0;
}
.v-enter-to {
    opacity: 1;
}

/* 非表示アニメーション */
.v-leave {
    opacity: 1;
}
.v-leave-to {
    opacity: 0;
}