@use "function" as fn;

body{
    font-family: 'Noto Sans CJK JP',sans-serif;
}
.inner{
    max-width: 460px;
    margin: auto;
}

.mainTitle{
    text-align: center;
    letter-spacing: 1.25px;
    .title{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .sub{
        font-size: 16px;
    }
}

.subTitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.normalBtn{
    background: fn.$subCol;
    padding: .5em;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 99999px;
    font-weight: bold;
    &._copy:after{
        content: '';
        background: url("~@/assets/img/ico-copy.svg");
        display: inline-block;
        width: 20px;
        height: 24px;
        position: relative;
        top: 5px;
        left: 5px;
    }
}

.menuContents{
    @include fn.innerPadding(0);
    position: relative;
    &-catchText{
        font-size: 14px;
        line-height: 1.8;
        margin: fn.$setRowMargin 0;
    }
    &-modal{
        margin: fn.$setRowMargin 0;
    }
    &-menuBlock{
        margin-top: fn.$setRowMargin;
    }
    &-banarBlock{
        margin: fn.$setRowMargin+10px 0;
        .banar{
            display: block;
            max-width: 343px;
            margin: auto;
            cursor: pointer;
            &+.banar{
                margin-top: 10px;
            }
            img{
                width: 100%;
            }
        }
    }
}

.formContents{
    @include fn.innerPadding(20px);
}

.modal{
    background: fn.$white;
    border-radius: 20px;
    @include fn.innerPadding(1em);
    position: relative;
    width: 100%;
    &_bg{
        background: rgba($color: #000000, $alpha: .6);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_wrap{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        @include fn.innerPadding(0);
    }
    &_closeBtn{
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
    }
    &_detail{
        margin: 20px 0 30px;
        &.tel{
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            @include fn.breakpoint(min){
                font-size: 34px;
            }
        }
    }
    .successText{
        margin-top: 10px;
        text-align: center;
        color: fn.$accentCol;
        font-weight: bold;
    }
}

.menuList{
    display: grid;
    gap: 20px 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 110px;
    justify-content: center;
    &-item{
        width: 100%;
        background: fn.$subCol;
        border-radius: 25px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    &-text{
        color: fn.$white;
        margin-bottom: 10px;
    }
    figure{
        margin-top: 30px;
        &.img-tel{
            margin-top: 20px;
        }
    }
}

.header{
    background: fn.$mainCol;
    @include fn.innerPadding(.8em);
    &-inner{
        display: flex;
        justify-content: space-between;
    }
    &-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-title{
        margin-left: 16px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 2px;
    }
}



.footer{
    background: fn.$mainCol;
    &-inner{
        @include fn.innerPadding(.4em);
    }
    .copy{
        text-align: center;
        font-size: 12px;
        line-height: 1;
    }
}

.formList{
    &_dt{
        margin-top: 30px;
        font-size: 14px;
        .label{
            display: inline-block;
            line-height: 1;
            padding: 4px 10px;
            font-size: 12px;
            color: fn.$white;
            background: #BFBFBF;
            margin-right: 10px;
            position: relative;
            top: -1px;
            &._required{
                background: fn.$accentCol;
            }
        }
        &+.formList_dd{
            margin-top: 15px;
        }
    }
    &_btnWrap{
        margin-top: 30px;
    }
}

.formParts{
    input[type=text] {
        padding: .2em 1em;
        border: 1px solid #BFBFBF;
        width: 100%;
        border-radius: 10px;
        height: 44px;
    }
    input[type=radio] {
        display: none; /* ラジオボタンを非表示にする */
        & + label {
            position: relative;
            right: -8px;
            top: -13px;
            &::before{
                content: '';
                display: inline-block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 2px solid #1591DE;
                position: relative;
                top: 13px;
                left: -8px
            }
            & + input + label{
                margin-left: 32px;
            }
        }
        &:checked+ label{
            &::after{
                content: '';
                position: absolute;
                left: 0px;
                top: 4px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #1591DE;
            }
        }
    }
    &_err{
        margin-top: 10px;
        color: fn.$accentCol;
        font-size: 14px;
    }
}

.v-enter-active, .v-leave-active {
    transition: opacity 1s
}

.v-enter, .v-leave-to{
    opacity: 0;
}